/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import '_variables.scss';
body{
	font-weight: bold;
}
#box-facility .title{
	position: absolute;
	top: 20px;
}
.title ,.image, .description{
	margin-top: 30px;
	display: block;
}
.title{
	-webkit-animation-duration: 1.5s;
}
.image{
	z-index: 999;
	max-width: 730px;
	-webkit-animation-delay: 0.5s;
}
#box-service{
	.image{
		margin-left: 100px;
	}
}
.description{
	-webkit-animation-delay: 0.5s;
}
.section{
	position: relative;
}
.header-box{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 19px solid $blue;
	@extend %box-default;
	.image{
		position: absolute;
	    top:0;
	    right:0;
	    bottom:0;
	    left:0;
	    margin:auto;
		-webkit-animation-delay: 0s;
	}
}
.content-box{
	padding-left: 105px;
	text-align: left;
	border-right: 188px solid $blue;
	.title, .image, .description{
		visibility: hidden;
	}
}
.fp-controlArrow.fp-next {
    right: -120px;
}
$box-types: (
  box-blue : $blue,
  box-blue-green : rgb(75,182,185),
  box-yellow : rgb(246,214,45),
  box-green : rgb(140,196,87)
) !default;
@each $name, $color in $box-types {
  .#{$name} {
    border-color: $color;
  }
}

.ball-group{
	clear: both;
	width: 100%;
	position: absolute;
	&.-top{
		top: 0;
	}
	&.-bottom{
		bottom: 0;
	}
}
.small-ball{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 27px 24px;
	background-color: #000;
	@include border-radius(50%);
	&.-left{
		float: left;
	}
	&.-right{
		float: right;
	}
}
$ball-types: (
  ball-red : rgb(232,130,118),
  ball-blue : $blue,
  ball-green : rgb(140,196,87),
  ball-yellow : rgb(246,214,45)
) !default;
@each $name, $color in $ball-types {
  .#{$name} {
    background:$color;
  }
}.btn-box{
	text-align: center;
	.btn{
		letter-spacing: 2px;
		color: $blue;
		text-decoration: none;
		border-radius: 24px;
		border: 2px solid $blue;
		padding: 15px 20px;
		margin: 0 50px;
		@include transition;
		&:hover{
			background-color: #3b70b0;
			color: $white;
			border-color: #3b70b0;
		}
	}
}