/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/_variables.scss */
.header-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/screen.scss */
body {
  font-weight: bold;
}

/* line 9, ../sass/screen.scss */
.title, .image, .description {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  display: block;
}

/* line 15, ../sass/screen.scss */
.title {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
}

/* line 19, ../sass/screen.scss */
.image {
  -webkit-animation-delay: 0.5s;
}

/* line 22, ../sass/screen.scss */
.description {
  -webkit-animation-delay: 0.5s;
}

/* line 25, ../sass/screen.scss */
.section {
  position: relative;
  border-right: 18.36vw solid #4bb1ca;
}

/* line 29, ../sass/screen.scss */
.section:nth-child(1) {
  border: none;
}

/* line 32, ../sass/screen.scss */
.header-box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 19px solid #4bb1ca;
}
/* line 40, ../sass/screen.scss */
.header-box .image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-animation-delay: 0s;
}

/* line 50, ../sass/screen.scss */
.content-box {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
/* line 54, ../sass/screen.scss */
.content-box .title, .content-box .image, .content-box .description {
  visibility: hidden;
}

/* line 59, ../sass/screen.scss */
#box-facility .title {
  position: absolute;
  top: 20px;
}
/* line 63, ../sass/screen.scss */
#box-facility .image {
  position: absolute;
  top: 100px;
  max-width: 800px;
}

/* line 69, ../sass/screen.scss */
.fp-controlArrow.fp-next {
  right: -120px;
}

/* line 79, ../sass/screen.scss */
.box-blue {
  border-color: #4bb1ca;
}

/* line 79, ../sass/screen.scss */
.box-blue-green {
  border-color: #4bb6b9;
}

/* line 79, ../sass/screen.scss */
.box-yellow {
  border-color: #f6d62d;
}

/* line 79, ../sass/screen.scss */
.box-green {
  border-color: #8cc457;
}

/* line 83, ../sass/screen.scss */
.ball-group {
  clear: both;
  width: 100%;
  position: absolute;
}
/* line 87, ../sass/screen.scss */
.ball-group.-top {
  top: 0;
}
/* line 90, ../sass/screen.scss */
.ball-group.-bottom {
  bottom: 0;
}

/* line 94, ../sass/screen.scss */
.small-ball {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 27px 24px;
  background-color: #000;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}
/* line 101, ../sass/screen.scss */
.small-ball.-left {
  float: left;
}
/* line 104, ../sass/screen.scss */
.small-ball.-right {
  float: right;
}

/* line 115, ../sass/screen.scss */
.ball-red {
  background: #e88276;
}

/* line 115, ../sass/screen.scss */
.ball-blue {
  background: #4bb1ca;
}

/* line 115, ../sass/screen.scss */
.ball-green {
  background: #8cc457;
}

/* line 115, ../sass/screen.scss */
.ball-yellow {
  background: #f6d62d;
}

/* line 118, ../sass/screen.scss */
.btn-box {
  text-align: center;
}
/* line 120, ../sass/screen.scss */
.btn-box .btn {
  letter-spacing: 2px;
  color: #4bb1ca;
  text-decoration: none;
  border-radius: 24px;
  border: 2px solid #4bb1ca;
  padding: 15px 20px;
  margin: 0 50px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
/* line 129, ../sass/screen.scss */
.btn-box .btn:hover {
  background-color: #3b70b0;
  color: #fff;
  border-color: #3b70b0;
}
